.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.card {
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 250px;
    margin: 20px;
    padding: 20px;
    border: 2px black double;
}

.table {
    text-align: center;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.activeTable {
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.top-info {
    width: 100%;
    text-align: right;
    display: block;
}

.createCard {
    padding: 10px;
    top: 70%;
    right: 35%;
    position: fixed;
    display: inline-flex;
    text-align: right;
    background-color: white;
    width: 20%;
}

.input {
    margin: 10px;
}

.addImage {
    height: 100%;
    width: 100%;
}

label {
    margin: 20px;
}

button {
    margin: 20px;
}

